<div class="row">
    <div class="col-md-12">
        <h2>Restaurants</h2>
        <input type="text"/>
        <hr>
        @{
            foreach (var restaurant in ViewBag.restaurants) 
            {
                <br>
                <div class= col-md-12">
                <a asp-controller="Home" asp-action="Review" asp-route-restaurant="@restaurant.name">@restaurant.name</a>
                </div>
                <hr>
            }
        }
    </div>

