@using scaffold.Models

<h1>Wall</h1>
<h3>Post a Message!</h3>
<div>
    @Html.Partial("AddMessagePartial")
</div>
@{
    foreach (var message in ViewBag.Messages)
    {
        <br>
            <p class="text-danger">@message.body</p>
            <p class="text-primary">@message.user.first_name</p>
        <hr>
    }
}