@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Rock Paper Scissors</h2>
    </div>
    <div class="col-md-3">
        <p>You have played: @{TempData["losses"]} games and won @{TempData["wins"]}!</p>
    </div>
    <div class="col-md-3">
        <form  action='/choice' method='POST'>
        <input type='hidden' value='rock' name='choice'>
        <button type='submit'>ROCK</button>
        </form>

        <form action='/choice' method='POST'>
        <input type='hidden' value='paper' name='choice'>
        <button type='submit'>PAPER</button>
        </form>

        <form action='/choice' method='POST'>
        <input type='hidden' value='scissors' name='choice'>
        <button type='submit'>SCISSORS</button>
        </form>
        
    </div>
    <div class="col-md-3">
        <h2>@{}</h2>

        <form action='/reset' method='POST'>
        <button type='submit'>RESET</button>
        </form>

        <form action='/again' method='POST'>        
        <button type='submit'>PLAY AGAIN?</button>
        </form>
        
    </div>
</div>
