
<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        @{
            foreach (var user in @ViewBag.AllUsers)
            {
                <p>@user.first_name</p>
            }
        }
    </div>
    <div class="col-md-3">
        <h2>How to</h2>

    </div>
    <div class="col-md-3">
        <h2>Overview</h2>

    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>

    </div>
</div>
