<h1>Welcome to the QuotingDojo</h1>
<form action="add_quote" method="post">
    <input type='text' name='name' placeholder='Your name'>
    <input type='textarea' name='quote' placeholder='Your quote'>
    <button type='submit' value='Submit'>Add my quote!</button>
    <input type='submit' formaction="show_quotes" formmethod="get" value="Skip to quotes"/>
</form>