@using scaffold.Models

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Registration</h1>
            @Html.Partial("RegisterPartial")
        </div>
        <div class="col-sm-6">
            <h1>Login</h1>
            @Html.Partial("LoginPartial")
        </div>
    </div>
</div>

