<h1>Welcome to your Dojochi</h1>
<h4>Get your Dojochi to 100 in all three categories for super ultimate satisfaction</h4>
<!-- If its first visit create new instance of dojochi -->
<form action="/clear" method="post">
<button type="submit" value="Submit">Clear</button>
</form>
<h1>@ViewBag.userDojoChi.name</h1>
<!-- Show Dojochi happieness, fullness, eneergy -->
