<h1>Welcome to Dojodachi</h1>
<form action='/addName/{name}' method='post'>
    <input type="text" placeholder="Dojodachi Name" name="name">
    <button type="submit" value="Submit">Submit</button>
</form>